@import url('https://fonts.googleapis.com/css?family=Cabin|Old+Standard+TT|Pacifico');
/*
font-family: 'Cabin', sans-serif; (Headings)
font-family: 'Old Standard TT', serif; (Body Text)
font-family: 'Pacifico', cursive; (Logo)
*/


/*Float notes:  Apply clearfix to the parent element of what I want to float.  Apply float to the parent of
the content I want floated;*/


/*NOTE: BEFORE DOING RESPONSIVE DESIGN I NEED TO GO AND CLEAN UP CODE.  LOOK FOR REDUNDANCIES
AND ALSO ANYWHERE THAT PX ARE BEING USED.  CHANGE TO EM AND %*/

*{
	padding:0;
	margin: 0;
}

body {
	background: #ccc;
	font-size: 1em; /*1 em= 16px*/
}

p {
	color:white;
	font-size: 1.25em;
	font-family: 'Cabin', sans-serif;
	line-height: 1.5em;
	max-width: 40em;
}

a {
	text-decoration: none;
}


h2 {
	text-align: center;
	font-family: 'Old Standard TT', serif;
	font-size: 2em;
	padding: 15px;
}

nav a {
	color:#fff;
	font-size: 2em;
	font-family:'Old Standard TT', serif;
	text-shadow: 0 0 2px #fff;
	padding-right: 10px;
	margin: 10px;
}

/*LoVe HAte*/

a:link {
}

a:visited {
}

a:hover {
	border-bottom: 2px solid #fff;
}


#hero {
	background-image: url("../images/barista.jpg");
	height: 90vh;
	background-size: cover;
	box-sizing:border-box;
}

.logo {
	font-family: 'Pacifico', cursive;
	font-size: 2.5em;
}

.coffee {
	margin: 25px;
	border: 2px solid black;
	padding: 20px;
}

.wholesale {
	margin: 25px;
	border: 2px solid black;
	padding: 20px;
}

.mobile {
	margin: 25px;
	border: 2px solid black;
	padding: 20px;
}

.services {
	float: left;
	width:25%;
	margin:2.5%;
	text-align: center;
}


.locations {
	float: left;
	width:25%;
	margin:2.5%;
}

.seattle-pic {
	width:300px;
	border-radius: 3px;
}

.portland-pic {
	width:300px;
	border-radius: 3px;
}

.sanfran-pic {
	width:300px;
	border-radius: 3px;
}


#two_column {
	padding: 20px;
}

#left {
	border: 1px black solid;
	padding: 20px;
	float:left;
	width:30%;
}

#right {
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

.clearfix:after {
	visibility: hidden;
	display:block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.footer {
	padding: 10px;
}