@import url('https://fonts.googleapis.com/css?family=Cabin|Old+Standard+TT|Pacifico');
/*
font-family: 'Cabin', sans-serif; (Headings)
font-family: 'Old Standard TT', serif; (Body Text)
font-family: 'Pacifico', cursive; (Logo)
*/

*{
	padding:0;
	margin: 0;
}

body {
	background: #ccc;
	font-size: 1em; /*1 em= 16px*/
}

p {
	color:white;
	font-size: 1.25em;
	font-family: 'Cabin', sans-serif;
	line-height: 1.5em;
	max-width: 40em;
}

a {
	text-decoration: none;
}


h2 {
	text-align: center;
	font-family: 'Old Standard TT', serif;
	font-size: 2em;
}

/*GA Assembly color info for showing blocks of content*/

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

div {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
	

#hero {
	background-image: url("../images/coffee-shop.jpg");
	width: 100%;
	background-size: cover;
}

.logo {
	font-family: 'Pacifico', cursive;
	font-size: 2.5em;
}

.services {
	text-align: center;
}

.coffee {
	margin: 25px;
	border: 2px solid black;
	padding: 20px;
}

.wholesale {
	margin: 25px;
	border: 2px solid black;
	padding: 20px;
}

.mobile {
	margin: 25px;
	border: 2px solid black;
	padding: 20px;
}

.seattle-pic {
	width:300px;
	border-radius: 3px;
}

.portland-pic {
	width:300px;
	border-radius: 3px;
}

.sanfran-pic {
	width:300px;
	border-radius: 3px;
}


